<html>
	<ul>
		<% @projects.each do |project| %>
			<li><%= link_to(project.name, project_entries_path(project)) %></li>
			<% if project.description.present? %>
				<i><%= " - #{project.description}" %></i></li>			
			<% end %>
		<% end %>
	</ul>

</html>
