	<h1><%= "Project number: #{params[:id]}" %></h1>
	<h3><a href="/projects">Go home, you're drunk</a><br></h3>
	<b><%= @project.name %></b>
	<% if @project.description.present? %>
	 - <%= @project.description %>
	 <% end %>
